.container {
  z-index: 1;
  position: absolute;
  @include center;
  width: 40rem;
  height: 20rem;
  perspective: 100rem;
  transition: all .3s ease;

  @include MQ(xs) {
    perspective: 600rem;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
  }
}

.card {
  height: 100%;
  width: 100%;

  &::before {
    z-index: 3;
    content: '';
    position: absolute;
    bottom: -2rem;
    right: 2rem;
    width: 167px;
    height: 145px;
    background: url(../images/sprite.png) top left no-repeat;
  }

  &__front,
  &__back {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 3rem;
    background: #fff url(../images/bg.png) repeat;
    box-shadow: 2px 1px 3px 0 rgba(0, 0, 0, .3),
    0 0 32px 0 rgba(0, 0, 0, .1);
    border-radius: $radius-primary;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: rotateY(0);
    transition: transform .3s ease-out;
  }

  &__front {
    overflow: hidden;
    z-index: 2;
    transform: rotateY(0);
  }

  &__back {
    transform: rotateY(-180deg);
  }

  &_flip {
    .card__front {
      transform: rotateY(180deg);
    }
    .card__back {
      transform: rotateY(0);
    }

  }
}

.page {
  position: relative;

  &__link {
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.2rem;
    color: $blue-500;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__close {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.title {
  margin-bottom: 2rem;
  text-align: right;
  font-family: $font-second;
  color: $gray-900;
  text-transform: uppercase;

  &__caption {
    font-size: 0.7rem;
    font-weight: 300;
    line-height: 1.2;
    color: #9e9e9e;
    text-transform: none;
  }
}

.subtitle {
  color: $gray-700;
  margin-bottom: .5rem;
}