// colors
$gray-50: #FAFAFA;
$gray-100: #F5F5F5;
$gray-200: #EEEEEE;
$gray-300: #E0E0E0;
$gray-400: #BDBDBD;
$gray-500: #9E9E9E;
$gray-600: #757575;
$gray-700: #616161;
$gray-800: #424242;
$gray-900: #212121;

$red-500: #f44336;
$blue-500: #2196F3;
$green-500: #4CAF50;
$yellow-500: #FFEB3B;
$orange-500: #FF9800;
$brown-500: #795548;

// fonts
$font-primary: 'Roboto', Arial, sans-serif;
$font-second: 'Roboto Condensed', Arial, sans-serif;

// radius
$radius-primary: 2px;
$radius-round: 100%;

// breakpoints
$S: 768px;
$M: 992px;
$L: 1200px;