<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:300,400,700&amp;subset=cyrillic"
          rel="stylesheet">
</head>

<body>
<div id="react-root" class="background"></div>

<div class="clouds">
    <div class="cloud cloud_foreground"></div>
    <div class="cloud cloud_foreground"></div>
    <div class="cloud cloud_background"></div>
    <div class="cloud cloud_background"></div>
    <div class="cloud cloud_foreground"></div>
    <div class="cloud cloud_background"></div>
    <div class="cloud cloud_background"></div>
    <div class="cloud cloud_foreground"></div>
    <div class="cloud cloud_background"></div>
    <div class="cloud cloud_background"></div>
</div>
</body>
</html>