body {
  padding-top: 60px;
}

.mt {
  margin-top: 1rem;
  &_2 {
    margin-top: 2rem;
  }
}

.mb {
  margin-bottom: 1rem;
  &_2 {
    margin-bottom: 2rem;
  }
}

.text {
  &_center {
    text-align: center;
  }
}