* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

article,
aside,
footer,
header,
menu,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:focus,
:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
